
// FOOTER // 

footer {
    background-color: #262526;
    margin: 0%;
    position: relative;
    iframe {
        margin: 0%;
        padding: 0px 0px 30px 0px;
        width: 100%;
    }
    hr {
        color: white;
    }
    h6 {
        color: wheat;
        padding: 40px;
        display: inline block;
        font-size: 13px;
        margin-bottom: 0px;
    }
    .footer__conteiner {
        position: absolute;
        top: 240px;
        right: 10px;
        width: 500px;
        img {
            display: inline-block;
            padding: 25px;
            
           
        }
    
    }
   
}


//MEDIA QUERIES//
@media screen and (max-width: 768px){ 
    footer { 
    .footer__conteiner {
        right: 1px;
        width: auto;
    }
  }
}
@media screen and (max-width: 480px){
  footer {
      h6{
          font-size: 12px;
      }
      .footer__conteiner {
          display: none;
      }
    
  }
 }