*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-family: 'Raleway', sans-serif;
}
 // VARIABLES //
  
// Paleta de colores //
$negro: #262526;
$marronOscuro: #734D3F;
$marronClaro: #A67458;
$beige: #F2CA99;
$grisaseo: #F2F1F0;

// Tipografia //
  $titulos: 'Cormorant Garamond', serif;
  $subtitulos: 'IM Fell Double Pica', serif;
  $texto: 'Raleway', sans-serif;

